// imports
@import 'modules/_message';
@import 'modules/dashboard';

.container-fluid {
	padding: 0 !important;
}

body {
	padding-bottom: 0;
}

h1 {
	color: black;
	text-align: center;
	font-family: 'Rubik', sans-serif;
	padding-bottom: 16px;
}

p {
	color: black;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.nav-logo {
	width: 24px;
	height: 24px;
	margin-right: 5px;
	margin-bottom: 3px;
}

.h1-logo {
	width: 40px;
	height: 40px;
	margin-right: 8px;
	margin-bottom: 3px;
}

.nav-link {
	color: #29A1D4;
	font-family: 'Open Sans', sans-serif;
}

.navbar-brand {
	color: #29A1D4;
	font-family: 'Rubik', sans-serif;
}

.navbar {
	background: transparent;
	height: 70px;
}

.nav-link:first-child {
	margin-right: 10px;
}

.btn-primary {
	background-color: #29A1D4 !important;
	border-color: #29A1D4 !important;
	text-align: center;
	margin-top: 8px;
}

.nickname {
	background: transparent;
	padding: 12px;
	outline: none;
	color: white;
	font-family: 'Rubik', sans-serif;
	border-bottom: 2px solid rgb(216, 216, 216);
	border-right: none;
	border-left: none;
	border-top: none;
}

.nickname::placeholder {
	padding-left: 10px;
	color: rgb(216, 216, 216);
}

#nickname {
	color: black;
	width: 200px;
}

.enter {
	width: 200px;
	display: block;
}

.cursor {
	position: relative;
}
.cursor	i {
	position: absolute;
	width: 2px;
	height: 70%;
	background-color: #29A1D4;
	left: 10px;
	top: 12%;
	animation-name: blink;
	animation-duration: 800ms;
	animation-iteration-count: infinite;
	opacity: 1;
}

.cursor input:focus + i {
	display: none;
}

@keyframes blink {
	from { opacity: 1; }
	to { opacity: 0; }
}