body {
    font-size: .875rem;
  }

  .row {
      margin-right: 0 !important;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    border-right: 1px solid rgba(0, 0, 0, .1);
    height: 100vh;
  }

  #dash-nav {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }

  #message-bar {
    border-top: 1px solid rgba(0, 0, 0, .1);
    z-index: 0;
    padding-right: 10px;
    height: 60px;
    background: white;
  }

  .nickname-form {
      justify-content: center;
      margin-bottom: 36px;
  }

  .heading {
      font-size: 1rem;
      margin-left: 12px;
      margin-top: 16px;
  }

  hr {
      width: 180px;
      margin: 0 auto;
      justify-content: center;
  }

 .msg {
     z-index: 100;
     margin-top: 10px;
 }

 .message-bar {
     z-index: 100;
 }

 .btn-secondary {
     background-color: #29A1D4 !important;
     border: 1px solid #29A1D4 !important;
     z-index: 100;
 }
  
//   .sidebar-sticky {
//     position: relative;
//     top: 0;
//     height: calc(100vh - 48px);
//     padding-top: .5rem;
//     overflow-x: hidden;
//     overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
//   }
  
//   @supports ((position: -webkit-sticky) or (position: sticky)) {
//     .sidebar-sticky {
//       position: -webkit-sticky;
//       position: sticky;
//     }
//   }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }