.new-message { 
    span { font-size: 0.8rem; display: block; margin-bottom: 2px; }
    padding: 8px 12px;
    background-color: grey; 
    border-radius: 8px;
    margin-bottom: 1rem;

    float: left !important;
    clear: both;
}

.my-message {
    float: right !important;
    background-color: #86bf9d;
    color: white;
}